* {
  font-size: 20px;
  line-height: 1.5rem;
}
img {
  width: 100%;
  box-shadow: 8px 8px 5px rgb(196, 188, 133);
}
#yesBtn {
  background-image: linear-gradient(to top, #3d0606 0%, #702f2f 51%, #a05353 100%);
  background-color: rgb(126, 53, 67);
  border-radius: 4px;
}
#yesBtn:hover{
background-color: rgb(131, 83, 91);
box-shadow: 2.5px 2.5px rgb(125, 114, 114);
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(65, 28, 33);
  color: rgb(238, 238, 238);
  padding: 10px;
  padding-left: 30px;
 
  
}
header h1 {
  font-family: 'Oswald', sans-serif;
  
  font-size: 4rem;
}

#searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px;
  background-color: rgb(228, 223, 204);
}

#searchBox h4 {
  padding: 25px;
  background-color: rgb(65, 28, 33);
  color: rgb(238, 238, 238);
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 50;
}

#searchBtn {
  background-image: linear-gradient(to top, #3d0606 0%, #702f2f 51%, #a05353 100%);
  background-color: rgb(126, 53, 67);
  border-radius: 4px;
}

.search-field {
  width: 500px;
  height: 40px;
  margin-left: 1rem;
  padding: 0.5rem;
  border: 1px solid #c9c9c9;
  transition: all 0.5s ease;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(228, 223, 204);
}

.landingIntro {
  padding: 100px 0px 100px 0px;
}

.landingIntro h4 {
  padding: 25px;
  background-color: rgb(65, 28, 33);
  color: rgb(238, 238, 238);
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 50;
}

.landingIntro h5 {
  padding: 5px 0 35px 0;
}

.spacer {
  margin: 0 80px 0 80px;
  border-bottom: 1px solid;
  border-color: black;
}

.funFacts {
  width: 100%;
  border-bottom:1px solid;
  border-color: #3d0606;
  margin-bottom: 25px;
}

.funFacts h5 {
  
}

.factContainer {
  background-color: rgb(237, 211, 194);
}

.breweryList {
  background-color: rgb(228, 223, 204);
}

.breweryList div {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 28, 33);
  color: rgb(238, 238, 238);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  width: 75%;
  margin: 15px auto;
  padding-right: 15px;
  padding-left: 15px;
}