* {
  font-size: 20px;
  line-height: 1.5rem;
  
}

body {
  background-color: rgb(228, 223, 204);
}
img {
  width: 100%;
  box-shadow: 8px 8px 5px rgb(196, 188, 133);
}

body {
  background-color: rgb(228, 223, 204);
}

#yesBtn {
  background-image: linear-gradient(to top, #3d0606 0%, #702f2f 51%, #a05353 100%);
  background-color: rgb(126, 53, 67);
  border-radius: 4px;
}
#yesBtn:hover{
background-color: rgb(131, 83, 91);
box-shadow: 2.5px 2.5px rgb(125, 114, 114);
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(65, 28, 33);
  color: rgb(238, 238, 238);
  padding: 10px;
  padding-left: 30px;
 
  
}
header h1 {
  font-family: 'Oswald', sans-serif;
  
  font-size: 4rem;
}

#searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px;
  background-color: rgb(228, 223, 204);
}

#searchBox h4 {
  margin-top: 80px;
  padding: 25px;
  background-color: rgb(65, 28, 33);
  color: rgb(238, 238, 238);
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 50;
}

#searchBtn {
  background-image: linear-gradient(to top, #3d0606 0%, #702f2f 51%, #a05353 100%);
  background-color: rgb(126, 53, 67);
  border-radius: 4px;
}

.search-field {
  width: 500px;
  height: 40px;
  margin-left: 1rem;
  padding: 0.5rem;
  border: 1px solid #c9c9c9;
  transition: all 0.5s ease;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(228, 223, 204);
}

.landingIntro {
  padding: 100px 0px 100px 0px;
}

.landingIntro h4 {
  padding: 25px;
  background-color: rgb(65, 28, 33);
  color: rgb(238, 238, 238);
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 50;
}

.landingIntro h5 {
  padding: 5px 0 35px 0;
}

.spacer {
  margin: 0 80px 0 80px;
  border-bottom: 1px solid;
  border-color: black;
}

.funFacts {
  width: 100%;
 
  margin-bottom: 25px;
}

.factIntro {
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid;
  border-color: #3d0606;
  margin-bottom: 25px;
}

.funFacts h5 {

}

.factContainer {
  background-color: rgb(228, 223, 204);
}

.factContainer {
  background-color: rgb(228, 223, 204);
}

#factA {
  width: 50%;
  border-radius: 10px;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #702f2f;
  text-align: left;
  border: 10px solid;
  border-color: #702f2f;
  box-shadow: 5px 5px 5px rgb(131, 83, 91);
}

#factA h2 {
  color: antiquewhite;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}
#factA p {
  background-color: antiquewhite;
  margin: 0;
  padding: 15px;
}

#factB {
  width: 50%;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 20%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #702f2f;
  text-align: left;
  border: 10px solid;
  border-color: #702f2f;
  box-shadow: 5px 5px 5px rgb(131, 83, 91);
  
}

#factB h2 {
  color: antiquewhite;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}
#factB p {
  background-color: antiquewhite;
  margin: 0;
  padding: 15px;
}

.breweryList {
  background-color: rgb(228, 223, 204);
}

.brewery {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 28, 33);
  color: rgb(238, 238, 238);
  border: 1px solid rgb(53, 23, 27);
  border-radius: .25rem;
  width: 75%;
  margin: 15px auto;
  padding-right: 15px;
  padding-left: 15px;
}